
{% extends "MlServiceBundle::layout.html.twig" %}

{% block title %}
 {{ parent() }} - Service - List
{% endblock %}
	
{% block service_body %}
	<table class="table">
		<legend><b>Services list</b></legend>
		<tr>
			<td>
				<div class="well">
					<center>
						<h4><b>Choose your service</b></h4><br>
						<form action="{{ path('ml_service_homepage') }}" method="post">
							Type
							<select style = "height:65px; margin-left:15px;" multiple name="type[]">
								<option value = "sale">Sale</option>
								<option value = "carpooling">Carpooling</option>
								<option value = "couchsurfing">Couchsurfing</option>
							</select><br><br>
							<button class="btn btn-primary btn-mini" type="submit">Confirm <i class="icon-white icon-ok-sign"></i> </button>
						</form>
					</center>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="well">
					{% if servicess is defined %}
						{% if servicess is not null %}
							<table align="center">
								<tr>
									<td>
										<center><b>Title</b></center>
									</td>
									<td>
										<center><b>Creator</b></center>
									</td>
									<td>
										<center><b>Comment</b></center>
									</td>
									<td>
										<center><b>Creation date</b></center>
									</td>
									<td>
										<center><b>Price</b></center>
									</td>
									<td>
										<center><b>Type</b></center>
									</td>
									
								</tr>
								{% for services in servicess %}
									{% for service in services %}
										{% if service.type is sameas("Carpooling") %}
											<tr class = "liste_services" onclick="document.location.href='./service/see/carpooling/{{ service.id }}'">
										{% endif %}
										{% if service.type is sameas("CouchSurfing") %}
											<tr class = "liste_services" onclick="document.location.href='./service/see/couchsurfing/{{ service.id }}'">
										{% endif %}
										{% if service.type is sameas("Sale") %}	
											<tr class = "liste_services" onclick="document.location.href='./service/see/sale/{{ service.id }}'">
										{% endif %}
												<td>
													<center>{{ service.title }}</a></center>
												</td>
												<td>
													<center>{{ service.user.login }}</a></center>
												</td>
												{% if service.comment is not null %}
													<td>
														<center>{{ service.comment }} </center>
													</td>
												{% endif %}
												{% if service.comment is null %}
													<td>
														<center>No comment </center>
													</td>
												{% endif %}
												<td>
													<center>{{ service.creationDate|date("d/m/y") }}</center>
												</td>
												<td>
													<center>{{ service.price }} €</a></center>
												</td>
												<td>
													<center>{{ service.type }}</a></center>
												</td>
											</tr>
									{% endfor %}
								{% endfor %}
							</table>
						{% endif %}
						{% if servicess is null %}
							<center>Aucun service</center>
						{% endif %}
					{% endif %}
					{% if servicess is not defined %}
						<center>Aucun service</center>
					{% endif %}
				</div>
			</td>
		</tr>
	</table>
{% endblock %}