<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>{% block title %}Web Social Pour Monnaie Libre{% endblock %}</title>

    {% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" />
	  <link href='http://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
    {% endblock %}
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div id="content">
          {% block body %}
          {% endblock %}
        </div>
      </div>

      <footer class = "row">
		<div align = "center" class = "well">
			<p><button style="margin-right: 5px" class="btn btn-small"><a href="{{ path('ml_user_homepage') }}">A propos</a></button>
			<button style="margin-right: 5px" class="btn btn-small"><a href="{{ path('ml_user_homepage') }}">Contacts</a></button>
			<button style="margin-right: 5px" class="btn btn-small"><a href="{{ path('ml_user_homepage') }}">Développeurs</a></button>
			<button class="btn btn-small"><a href="{{ path('ml_user_homepage') }}">Aide</a></button></p>
			<p><h5><i style="margin-right: 5px" class="icon-hand-right"></i>Web Social Pour Monnaie Libre<i style="margin-left: 5px" class="icon-hand-left"></i></h5></p>
		</div>
	  </footer>
    </div>
  </body>
</html>
