{% extends "MlUserBundle::layout.html.twig" %}

{% block title %}
 {{ parent() }} - Profile of {{ login }}
{% endblock %}
	
{% block user_body %}

	{% if firstName is defined %}
	
		<nav>
			<p><a href="#seeprofile">Profile</a></p>
			<p><a href="#changepassword">Change Password</a></p>
			<p><a href="#emails">Emails</a></p>
			<p><a href="#status">Status</a></p>
			<p><a href="#transactions">Transactions</a></p>
			<p><a href="#notifications">Notifications</a></p>
		</nav>

		<h2 id="seeprofile">Profile</h2>

		<div>
		<p>Login: {{ login }}</p>
		<p>Avatar: -</p>
		<p>Email: -</p>
		<p>First Name: {{ firstName }}</p>
		<p>Last Name: {{ lastName }}</p>
		<p>Birth Date: {{ dateNaissance }}</p>
		<p>Job Title: -</p>
		</div>

		<div><a href='{{ path('ml_user_delete') }}'>Delete my account</a></div>

		<h2 id="changepassword">Change Password</h2>

		<div>
		<p>New password</p>
		<p>Type again</p>
		</div>

		<h2 id="emails">Emails</h2>

		<h2 id="status">Status</h2>

		<div>
		<p>Premium: {% if premium == true %} Oui {% endif %} {% if premium == false %} Non {% endif %}</p>
		<p>Karma: {{ karma }}</p>
		</div>

		<h2 id="transactions">Transactions</h2>

		<h2 id="notifications">Notifications</h2>
	
	{% endif %}

{% endblock %}
